*.o
*~
*.orig
*.swp
builtins_doc.html
compiler_types.h
new_builtins.c
opdefs.h
parser.[ch]
TAGS
mathmap
new_template.c
opfuncs.h
llvm-ops.h
llvm_template.c
backends/lazy_creator.cpp
compopt/simplify_func.c
examples/Test

