Source: mathmap
Section: graphics
Priority: optional
Maintainer: Mark Probst <schani@complang.tuwien.ac.at>
Build-Depends: debhelper (>= 5), libgsl0-dev, libjpeg62-dev, libpng12-dev, libungif4-dev, libgimp2.0-dev, libgtksourceview2.0-dev, gettext, fftw3-dev, unzip, doxygen, perl
Standards-Version: 3.7.2

Package: mathmap
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gcc
Description: MathMap is a language for image manipulation.
 MathMap is a GIMP plug-in and a standalone command-line tool which
 allows distortion of images and animations specified by mathematical
 formulae.  For each pixel in the generated image, an expression is
 evaluated which should return a pixel value.  The expression can
 either refer to a pixel in the source image or can generate pixels
 completely independent of the source.  MathMap allows the generation
 of still images and of animations.
